.social
	%h2= "Stay in Touch"
	%p= "Whether you're a student, educator, or company, we'd love to stay in touch!"
	%p= "Simply submit your email via the form below, and we'll keep you up to date with everything Michigan Hackers."
	= form_for(User.new, method: :post, url: ajax_sign_up_path, html: {class: "email-signup-form", id: "email-signup-form"}) do |f| 
		%fieldset
			= f.text_field :email, {placeholder: "please enter your @umich email", class: "email-input"}
			= f.submit "Sign Up", {name: ""}
		%fieldset
			= radio_button :user_type, :type_name, "student", {checked: "checked", class: "radio-btn"}
			= label :user_type, :type_name_student, "student", class: "radio-text"
			= radio_button :user_type, :type_name, "educator", {class: "radio-btn"}
			= label :user_type, :type_name_educator, "educator", class: "radio-text"
			= radio_button :user_type, :type_name, "company", {class: "radio-btn"}
			= label :user_type, :type_name_company, "company", class: "radio-text"

	%span#ajax-response-text.ajax-response-text.error.hide{style: "display: none;"}
		= ""
