%h2= "Upcoming Events"
%ul
	%li
		%h3= "All About HPHP"
		%h5 
			%i= "34 Attending - Monday, September 12th @ 7:00pm in 1670 BBB"
		%p= "Thank you for being patient regarding your move-in information. We have had three large construction projects taking place this summer that had to be completed by this week."
	%li
		%h3= "Owning the Firehose"
		%h5 
			%i= "15 Attending - Tuesday, September 17th @ 6:30pm in 1500 EECS"
		%p= "At this point we would like for your group to choose a house captain. This person will be my number one contact that I speak with at the house. It will be their job to communicate our conversations to the rest of the group. "
%span.see-more
	%a{href: "#"}
		%i= "See More &rArr;".html_safe
	