- css_for_head "cseducation"

= form_tag cs_edu_process_path, method: :post do
	.row
		.col4
			%fieldset
				= label :question, :uniqname, class: "line-break"
				= text_field :question, :uniqname
			%fieldset
				= label :question, :qid, "Question ID", class: "line-break"
				= text_field :question, :qid
			%fieldset
				= label :question, :answer, class: "line-break"
				= password_field :question, :answer
			%fieldset
				%input{type: :submit, value: "Submit Your Answer"}
		.col6