- css_for_head "cseducation"

.leaderboard
	%h3.col2= "Uniqname"
	%h3.col2= "Question 1"	
	%h3.col2= "Question 2"	
	%h3.col2= "Question 3"	
	%h3.col2= "Question 4"	
	- @leaderboard.each do |elem|
		%p.col2= elem[0]
		- elem[1].each do |is_solved|
			%p.col2= is_solved ? "Solved" : "----------"