- css_for_head "cseducation"
- js_for_head "cs_edu_countdown"

%img.cse-banner{src: "/assets/images/cseducation_banner.jpg"}

%h3.heading.center= "This year's CS Education Week Puzzles are sponsored by Michigan Hackers!"
%p.center= "To compete, find the 4 puzzles, submit your answers, and score points, all before December 7th."

.link-section
	.col1.spacer
	%h2
		%a.col3{href: "/cseducation/c31248e78aced0c36320b2f13a8a7891"}= "Question One"
	%h2
		%a.col3{href: "/cseducation/submit"}= "Submit Answers"
	%h2
		%a.col3{href: "/cseducation/leaderboard"}= "Leaderboard"
