- css_for_head "error"

.error_page
	.four_oh_four
		.four= "4"
		%img{src: "/assets/images/logo_orange.png"}
		.four= "4"
	- if Rails.env.production?
		%h2.text-large= "There's nothing here<br/>Sorry".html_safe
	- elsif not @error_message.nil?
		%h2.text-large= @error_message.message
		- @error_message.backtrace.each do |line|
			%p= line
