%table{style: "font-weight:lighter;line-height:18px;margin: 0px auto; font-family:sans-serif;", width: "760px", height: "100px"}
	%trbody
		%tr
			%td
				%div{style: "border-bottom: 2px solid #FF3C00;padding:20px 0px 10px 0px;"}
					%img{style: "vertical-align:middle;height:60px;display:inline-block;", src: "http://michiganhackers.org/assets/images/logo_orange.png"}
					%h1{style: "margin:0px;font-size:60px;padding-left:10px;vertical-align:middle;display:inline-block;color: #FF3C00"}= "Michigan Hackers"
		%tr
			%td
				%div{style: "width:1px;height:20px;"}
		%tr
			%td
				%p Thank you for registering with Michigan Hackers! We have a lot of great stuff planned for this year ranging from tech talks to hackathons. Below are the next few events happening in the coming weeks. 
				%h3 Upcoming Events
				- @upcoming_events.each do |event|
					- display ||= nil
					%p
						%h4
							%a{href: "https://facebook.com/#{event.id}", target: :_blank}= event.name
						%h5 
							%i
								= "#{event.start_time.strftime('%A, %B %-d @ %-l:%S%P')} - #{event.location}"
				%p Be sure to like us on facebook at <a href="http://www.facebook.com/michiganhackers">www.facebook.com/michiganhackers</a> to get all the latest infomation. And as always Happy Hacking!
				%p --Michigan Hackers