.row
	.col10
		%h2= "Your Michigan Hackers account has been Created"
.row
	.col10
		%p
			= "Thanks #{@user.first_name}! An email has been sent to "
			%i= @user.email
			= ". It contains the details necessary to activate your new account."
		%p
			= "Confirmation hash is: "
			= @user.confirmation_hash