- display ||= nil
%li
	%h3
		%a{href: "https://facebook.com/#{event.id}", target: :_blank}= event.name
	%h5 
		%i
			= "#{event.start_time.strftime('%A, %B %-d @ %-l:%S%P')} - #{event.location}"
			= # TODO - Add some caching. This is CRAZY SLOW. " - #{event.attending.length} Attending"
	%p{class: "preview"}
		= event.description.gsub("\n", "<br/>").html_safe
		
