%h2= "Upcoming Events"

%ul
	- @events.each do |event|
		- next
		%li
			%h3= event.name
			%h5 
				%i
					= "X Attending - " if event.facebook_eid.nil? and false
					= "#{event.start_time.strftime('%A, %B %-d @ %-l:%S%P')} in #{event.location}"
		%p
			= event.description
			
%h2= "Prior Events"
