= form_for (@user_detail ||= UserDetail.new), url: create_user_detail_path, do |f|
	.row
		.col4
			%input{type: :hidden, value: @user.confirmation_hash, name: :"user[confirmation_hash]"}
			%fieldset
				= f.label :concentration, class: "line-break"
				= f.select :concentration, concentration_options, prompt: "-- Please Select One --"
			%fieldset
				= label :grad_date, "Graduation Month & Year", class: "line-break", for: "user_detail_grad_month"
				= select :user_detail, :grad_month, grad_month_options, {selected: @user_detail.grad_month}
				= select :user_detail, :grad_year, grad_year_options, {selected: @user_detail.grad_year}
			
			- # TODO - Regexp validation for the url
			%fieldset
				= f.label :personal_url, class: "line-break"
				= f.text_field :personal_url
			
			- # TODO - Validate the github handle on the client side
			%fieldset
				= f.label :github_handle, class: "line-break"
				= f.text_field :github_handle
				%p{style: "padding:0px;margin:0px;margin-left:2px;"}
					%a{target: :_blank, style: "text-transform:lowercase;font-size:11px;color:#000;", href: "https://github.com/signup/free"}
						= "click here to create an account"
			= f.submit "Create My Profile", name: nil

		.col6
			%h2= "Complete your Michigan Hackers Profile"
			%p
				= "Looking to build and break all the things? We can't wait for you to join us!"
				= "Your account grants you access to all of the resources that Michigan Hackers has to offer."
			
			%p.hide
				= "In addition, if you provide your GitHub account handle, you'll automatically be added to our "
				%strong{style: "text-transform:none;"}= "Free GitHub Micro Account"
				= " sign-up list."
			
			
			%br
			%br
			
			- if @user_detail.errors.full_messages.any?
				%h3{style: "color:RED;"}= "Errors"
				- @user_detail.errors.full_messages.each do |e|
					%p{style: "color:RED;"}= e
