#header.header-outer
	.header-inner
		.container
			.row
				.col1
				.col10-no-padding
					.row.logo-wrap
						%img.col2{src: "/assets/images/logo_white.png"}
						%h1.col8= "Michigan Hackers"
					.row.navbar-wrap
						%ul
							%li.col2
								%a{href: "/"}= "Home"
							%li.col2
								%a{href: "/about"}= "About"
							%li.col2
								%a{href: "/events"}= "Events"
							%li.col2
								%a{href: "/calendar"}= "Calendar"
				.col1
