#header.header-outer
	.header-inner
		.container
			.row
				.col1
				.col10-no-padding
					.row.logo-wrap
						%img.col2{src: "/assets/logo.png"}
						%h1.col8= "Michigan Hackers"
					.row.navbar-wrap
						%ul
							%li.col2
								%a{href: "/"}= "Home"
							%li.col2
								%a{href: "/events"}= "Events"
							%li.col2
								%a{href: "/members"}= "Members"
							%li.col2
								%a{href: "/resources"}= "Resources"
							%li.col2
								%a{href: "/sponsors"}= "Sponsors"
				.col1