#header.header-outer
	.header-inner
		.container
			.row
				.col1
				.col10-no-padding
					.row.logo-wrap
						%img.col2{src: "/assets/logo.png"}
						%h1.col8= "Michigan Hackers"
					.row.navbar-wrap
						%ul
							%li.col2
								%a.active{}= "Home"
							%li.col2
								%a{href: "#"}= "Events"
							%li.col2
								%a{href: "#"}= "Members"
							%li.col2
								%a{href: "#"}= "Resources"
							%li.col2
								%a{href: "#"}= "Sponsors"
				.col1